<div id="vistaCompletarTareas">
    <div class="card">
        <div class="card-header">
            <h4>Completar Tarea</h4>
        </div>
        <div class="card-body">
            <form>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-3">
                            <input type="hidden" id="TareaID" value="@Model.TareaID">
                            <input type="hidden" id="UserId" value="@Model.UsuarioID">
                            <input type="hidden" id="estadoTarea" value="@Model.TipoTarea.TareaSimple.ToString().ToLower()">

                            <label for="validationServer02" class="form-label">Título</label>
                            <input type="text" class="form-control" id="TituloTarea" value="@Model.TituloTarea" disabled>
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <label for="validationServer01" class="form-label">Tipo</label>
                            <input type="text" id="TipoTarea" class="form-control" value="@Model.TipoTarea.Nombre" disabled>
                        </div>
                            <div class="col-12 col-md-4 mb-3" id="tipoSistemaContainer">
                            <label for="validationServer01" class="form-label">Sistema</label>
                            @Html.DropDownList("TipoSistema", null, htmlAttributes: new { @class = "form-control" })
                            <span id="TipoSistemaError" class="text-danger"></span>
                        </div>
                        
                    </div>
                    <div class="row mt-3">
                    
                        <div class="col-12 col-md-4 mb-3" id="fechaContainer">
                            <label for="validationServer02" class="form-label">Inicio</label>
                            <input type="datetime-local" class="form-control" id="FechaInicio" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")">
                            <span id="FechaInicioError" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-4 mb-3" id="estimadoContainer">
                            <label for="validationServer02" class="form-label">Hs. Estimadas</label>
                            <input type="number" class="form-control" id="TiempoEstimado">
                            <span id="TiempoEstimadoError" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3" id="observacionesContainer">
                            <label for="validationServer01" class="form-label">Observaciones</label>
                            <textarea id="Observaciones" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card mt-3" id="subtarea">
                <h5 class="m-3">SubTareas:</h5>
                <div id="listaSubTareas"></div>
                <div class="card-body">
                    <form>
                        <div class="container">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <input type="hidden" id="SubTareaID">
                                    <label for="validationServer01" class="form-label">Descripción</label>
                                    <textarea id="Descripcion" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row mt-3 mb-3">
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary" onclick="GuardarSubtarea()">Guardar Subtarea</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-12">
                    <button type="button" class="btn btn-primary" onclick="CompletarTarea()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="~/js/Tareas.js"></script>
    }
</div>
